.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  padding: 12px;
  height: 78px;
}
.nav-leftSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  width: 130px;
}
.nav-leftSide img {
  width: 20px;
  height: 15px;
}
.nav-leftSide span {
  font-size: 18px;
  color: #1a1a1f;
  font-family: "font-one";
  font-weight: 600;
}
.nav-rightSide {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 130px;
}
.headerSearch-icon img {
  width: 15px;
  height: 16px;
}
.azure-signSection span {
  font-size: 14px;
  color: #1a1a1f;
  font-family: "font-two";
  font-weight: 400;
  padding: 20px;
}

.header-one {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
  .header-one {
    display: block;
  }
  .nav-leftSide {
    height: 55px;
  }
  .nav-leftSide img {
    width: 24px;
    height: unset;
  }
  .header-one {
    height: 55px;
  }
}