.product-list-items {
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid #505050;
}
.product-list-items::-webkit-scrollbar {
    display: none;
}
.product-list-items a {
    font-size: 16px;
    text-decoration: none;
    color: #505050;
    padding: 8px 24px;
    font-family: 'font-one';
    font-weight: 600;
    height: 44px;
}
.product-list-items span {
    white-space: nowrap;
}
.image-card {
    padding: 24px 24px 0px;
}
.products-list-section {
    padding: 0px 22px;
}
.product-list-items a:nth-child(1) {
    border-bottom: 0.25rem solid #0078d4;
    color: #0078d4;
    border-color: #0078d4;
}
.featured-all-card {
    border-radius: 8px;
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11)!important;
}
.featured-all-card img{
    width: 40px;
}
.featured-all-card p {
    font-size: 16px;
    font-family: 'font-two';
    margin: 0px 0px 16px;
    padding: 24px 24px 0px;
}
.featured-all-card a {
    display: block;
    font-size: 16px;
    color: #0078d4;
    font-family: 'font-one';
    font-family: 600;
    padding: 12px 10px 24px 10px;
}
.featured-card-container {
    padding: 0px 12px;
    margin-bottom: 40px;
}
.product-boxes-section section {
    padding: 0px 12px;
}
.product-detial-column {
    padding: 47px 0px;
}
.products-boxes-section {
    padding: 0px 12px;
}
.seeAll-product span{
    display: block;
    font-size: 16px;
    color: #0078d4;
    font-family: 'font-one';
    font-weight: 600;
    text-align: left;
    padding: 24px 12px;
    width: 100%;
}
.customerAzure {
    font-size: 19px;
    font-family: 'font-one';
    font-weight: 600;
    margin: 0px 0px 8px;
    padding: 24px 12px;
}

@media screen and (min-width: 860px) {
  .productAndServices-container {
    display: flex;
    align-items: center;
  }
  .product-list-section {
    display: flex;
    align-items: center;
    padding: 0px 12px;
  }
  .product-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: unset;
    border: unset;
  }
  .products-boxes-section section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .product-list-items a {
    margin: 0px 0px 16px;
    padding: 8px 24px;
  }
  .product-list-items a:nth-child(1) {
    border-left: 3px solid #0078d4;
    border-bottom: 0px solid;
  }
  .featured-all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 192px;
    min-height: 336px;
  }
  .featured-all-card a {
    width: 81%;
  }
  .product-list-items span {
    display: block;
    min-width: 94px;
    text-align: left;
    white-space: unset;
  }
  .seeAll-product span {
    text-align: center;
  }
}
@media screen and (min-width: 1084px) {
    .productAndServices-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .products-list-section {
        padding: 0px 12px;
    }
    .products-boxes-section {
        padding-left: 5%;
        padding-right: 5%;
    }
    .featured-all-card {
        min-width: 201px;
        max-width: 331px;
        min-height: 288px;
    }
    .productAndServices-container {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 1660px) {
 .featured-all-card {
    min-width: 331px;
    min-height: 250px;
    max-height: 216px;
 }
 .featured-all-card p {
    min-height: 110px;
 }
}